.loading-curtain {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .loading-icon {
    margin-top: 20%;
    color: whitesmoke;
  }

  .pointer {
    cursor: pointer;
  }
  @font-face {
    font-family: DBHelvethaicaX;
    src: url("../../assets/fonts/DBHelvethaicaXv3.2.ttf");
  }


  .container-fluid {
  font-family: DBHelvethaicaX;
  }

  body {
    font-size: 15px !important;
    font-family: DBHelvethaicaX;
  }

  .container {
    width: 1250px;
  }
  .setTs {
    border:1px solid #055cb8
  }
