<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='https://use.fontawesome.com/releases/v5.0.6/css/all.css' rel='stylesheet'>
<link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' rel='stylesheet' />
<div class="container pull-left">
  <div class="row">
      <div class="col-md-8 ">
        <full-calendar *ngIf="options"
          [editable]="true"
          [eventLimit]="true"
          [events]="datacalenderShow"
          [header]="options.header"
          [customButtons]="options.customButtons"
          [plugins]="options.plugins"
          (eventRender)="eventRender($event)"
          (dateClick)="handleDateClick($event)"
          (datesRender)="handleDatesRender($event)"
          (eventDrop)="updateEvent($event)"
          (eventResize)="updateEvent($event)"
          (eventClick)="eventClick($event)"
          [height]="600"
          [weekends]="false"
          >
        </full-calendar>
      </div>
      <div class="col-md-2 " style="margin-top: 2%;">
    &nbsp;
    <div class="eventPjMt">
      <p><strong class="ststyle">Project Event</strong></p>
    </div>
        <div class="eventPjMtDt">
          &nbsp;
          <div #external >
            <div *ngFor="let item of dataProjetEvent">
              <span class='fc-event setTs' id ='{{item.rowId}}' style = "cursor: -webkit-grab; cursor: grab;margin-left: 7%;margin-right: 7%;">{{item.productNameMkt}}</span>
            </div>
          </div>
        </div>
      </div>
  </div>
  <br>
  <br>
  <div class="row styleFont">
    <div *ngIf="istable" class="col-md-9">
      <div class="panel-heading">
        <h4 class="h4-panel-header">
          Capacity
        </h4>
      </div>
      <div class="col-md-12" class="panel-body" class="collapse-panel">
        <!-- <table class="table table-striped"> -->
        <table class="table table-hover table-bordered table-condensed" style="text-align: center;">
          <thead>
            <tr>
              <th class="text-center">Customer Type</th>
              <th class="text-center">Actual Load Max</th>
              <th class="text-center">Actual Load Use</th>
              <th class="text-center">Actual Load Left</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="dataCapacity == null">
              <td class="text-left" colspan="4">No data to display.</td>
            </tr>
            <tr *ngIf="dataCapacity != null">
              <td>{{dataCapacity.customerType}}</td>
              <td>{{dataCapacity.actualLoadMax}}</td>
              <td>{{dataCapacity.actualLoadUse}}</td>
              <td>{{dataCapacity.actualLoadLeft}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row styleFont">
    <div *ngIf="istable" class="col-md-9">
      <div class="panel-heading cursor-point">
        <h4 class="h4-panel-header">
          History Project On Prd {{onPrdDate | date:'dd/MM/yyy'}}
        </h4>
      </div>
      <div class="col-md-12" class="panel-body" class="collapse-panel">

        <table class="table table-hover table-bordered table-condensed" style="text-align: center;">
          <thead>
            <tr style="text-align: center;">
              <th class="text-center">No</th>
              <th class="text-center">Project Code</th>
              <th class="text-center">Project Name</th>
              <th class="text-center">Po Group</th>
              <th class="text-center">On Production Date</th>
              <th class="text-center">Submit Date</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="thisProject.length < 1">
              <td colspan="7">No data to display.</td>
            </tr>
            <tr *ngFor="let item of thisProject; let i = index">
              <td class="text-center">{{i+1}}</td>
              <td class="text-left">{{item.projectCode}}</td>
              <td class="text-left">{{item.projectName}}</td>
              <td class="text-left">{{item.poGroup}}</td>
              <td class="text-left">{{item.onPrdDt | date:'dd/MM/yyy'}}</td>
              <td class="text-left">{{item.submitDt | date:'dd/MM/yyy'}}</td>
              <td class="text-center">
                <button style="cursor: pointer;" class="btn btn-danger" *ngIf="item.projectRowId == projectId" (click)="delete(item.rowId)" ><span>X</span></button>
                <span *ngIf="item.projectRowId != projectId">-</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--  -->
<div class="loading-curtain" *ngIf="isSaving">
  <div class="col-md-12 text-center loading-icon" style="text-align: center;">
    <i class="fa fa-spinner fa-spin" style="font-size:80px; margin-left: -32%;"></i>
  </div>
</div>

<div style="margin-left: -16%;" bsModal #modalRefshow="bs-modal" class="modal fade pull-left styleFont" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true" (onHidden)="hideModal()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Detail {{pjCode}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngFor="let row of Datamulti;let i = index" style="font-size: 15px;">
          <!-- st  -->
          <div class="panel panel-default">
            <div class="row">
              <div class="row col-md-11">
                <div class="col-md-3">
                  <label class="pull-right">
                    Product Name :
                  </label>
                </div>
                <div class="col-md-3">
                  <label class="pull-left" style="margin-left:5px">
                    <u>{{row.productName}}</u>
                  </label>
                </div>
                <div class="col-md-3">
                  <label class="pull-right">
                    Project Owner :
                  </label>
                </div>
                <div class="col-md-3">
                  <label class="pull-left" style="margin-left:5px">
                    <u>{{row.projectOwner}}</u>
                  </label>
                </div>
              </div>

              <div class="row col-md-11">
                <div class="col-md-3">
                  <label class="pull-right">
                    Product Class :
                  </label>
                </div>
                <div class="col-md-3">
                  <label class="pull-left" style="margin-left:5px">
                    <u>{{row.productClass}}</u>
                  </label>
                </div>
                <div class="col-md-3">
                  <label class="pull-right">
                    Promotion Group :
                  </label>
                </div>
                <div class="col-md-3">
                  <label class="pull-left" style="margin-left:5px">
                    <u>{{row.promotionGroup}}</u>
                  </label>
                </div>
              </div>

              <div class="row col-md-11">
                <div class="col-md-3">
                  <label class="pull-right">
                    Po Sub Group :
                  </label>
                </div>
                <div class="col-md-3">
                  <label class="pull-left" style="margin-left:5px">
                    <u>{{row.poSubGroup}}</u>
                  </label>
                </div>
                <div class="col-md-3">
                  <label class="pull-right">
                    On Production Date :
                  </label>
                </div>
                <div class="col-md-3">
                  <label class="pull-left" style="margin-left:5px">
                    <u>{{row.onPrdDt | date:'dd/MM/yyyy'}}</u>
                  </label>
                </div>
              </div>

              <div class="row col-md-11">
                <div class="col-md-3">
                  <label class="pull-right">
                    Price Type :
                  </label>
                </div>
                <div class="col-md-3">
                  <label class="pull-left" style="margin-left:5px">
                    <u> {{row.priceType == null ? '-' : row.priceType}}</u>
                  </label>
                </div>
                <div class="col-md-3">
                  <label class="pull-right">
                    Status :
                  </label>
                </div>
                <div class="col-md-3">
                  <label class="pull-left" style="margin-left:5px">
                    <u>{{row.status}}</u>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <p></p>
          <!-- ed  -->
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-danger " (click)="hideModal()">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
