/* Add application styles & imports to this file! */
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@fullcalendar/timegrid/main.css';

@font-face {
  font-family: DBHelvethaicaX;
  src: url("./assets/fonts/DBHelvethaicaXv3.2.ttf");
}
.fc-title {
    font-size: 0.8em;
  }

.fc-time {
  display: none;
}

.fc-event {
  font-size: 0.8em;
}

.fc-row {
  cursor: pointer;
}

.container-fluid {
  font-family: DBHelvethaicaX;
}

body {
  font-size: 17.5px !important;
  font-family: DBHelvethaicaX;
}
.fc-popover{
  cursor: pointer;
}
.fc-left {
  height: 26px;
}

/* MKT CALENDAR */
.fc-button.fc-button-primary {
  background-color: transparent;
  border-color:transparent;
  color:black;
  font-size: 12px;
}

.fc-today-button.fc-button.fc-button-primary {
  background-color: transparent;
  border-color:transparent;
  color:black;
  font-size: 12px;
}
.swal2-popup{
  width: 20em !important;
  height: 18em  !important;
}

.swal2-container.swal2-center {
  margin-left:-36%;
}
.swal2-icon{
  margin: 0.25em auto 0.875em;
}
.fc-button.fc-button-primary:hover  {
  background-color: #f7889f;
  border-color:#fa4268;
  color:#ffffff;
  font-size: 15px;
}
.fc-head {
  background-color: #72b4ff;
  color:#ffffff;
}
.fc-center {
  margin-left : -18%;
}
.swal2-actions{
  margin: -0.75em auto 0;
}
